
@import url('https://fonts.googleapis.com/css?family=Ewert&display=swap');


body {
    background-color: blue;
background-image: linear-gradient(315deg, yellow 10%, purple 74%);


}
h2 {
    font-family: 'Times New Roman', Times, serif;
}